<footer class="page-footer font-small foot pt-4">
<div class="container">
    <div class="row">
       <div class="col-md-12 d-flex justify-content-center">
           <ul class="social-network">
               <li>
                   <a href="https://github.com/agnidmitri" target="_blank" class="iconGithub"><i class="fa fa-github" aria-hidden="true"></i>
                   </a>
               </li>
               <li>

                <a href="https://www.linkedin.com/in/agni-dmitri/" target="_blank" class="iconLinkedin">                <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
               </li>
            </ul>
       </div>
    </div>
</div>

<div class="footer-copyright text-center py-3">
<span class="text-light">2021 © orgulhosamente criado por Agni Dmitri</span>
</div>
</footer>