#img-bg{
    background-image: url('https://i.imgur.com/ggNKey7.jpg');
    min-height: 695px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% ;
}


.ml{
    margin-left: 255px;
  }

#marg{
    margin-top: 250px;
}

.form-bg{
    background-color: #f2f7f270;
    margin-top: 80px;
    padding: 40px;
    border-radius: 4%;
    box-shadow: 4px 6px 3px 0px #0000003a;
    width: 400px;
  }
